<h3>Usuario(s)</h3>


<div class = container, text-align: center;>
	<table class="table table-hover">
		
		<p></p>
		<thead>
		<tr>
		<th></th>
		<th>Nombre:</th>
		<th>Correo:</th></tr>
		</thead>
			<% @users.each do |users| %>
				<tr><td class="image-all"><%= image_tag(users.avatar.url(:thumb)) %></td>
				</td><td><%= link_to users.name, user_path(users)%></td>
				<td><%= users.email %></td></tr>
			<%end%>
	</table>
</div>